html, body {
  background-color: #C97A12;
  height: 100%;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 720px;
  background-color: white;
  min-height: 100%;
}

#title{
  margin: 0;
  padding: 2%;
}

ul li{
  list-style: none;
}

nav ul{
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav ul li{
  float: left;
}

nav ul li a{
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100px;
  color: #0000EE;
}

nav ul li a:visited{
  color: #0000EE;
}

form li{
  width: 30%;
  padding: 1%;
}

form{
  width: 50%;
  margin: 0 auto;
}

table{
  table-layout: fixed;
  width: 90%;
  margin-top: 5%;
}

table th{
  background-color: #B8B4B0;
}
